#login-form {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;

  .container_login {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-top: 100px;
  }
}

#register-form {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;

  .container_register {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
}