#post_form {
  margin-bottom: 1rem;
  .col-tag{
    margin-top: 28px;
  }
  .text-post{
    border-radius: 10px;
    height: 100px;

  }
  .btn-post{
    border: 2px solid #FB8500;

  }

  .btn-postsubmit{
    border: 2px solid #FFB703;
    width: 100px;
    justify-content: center;
  }


}
