#post_form {
  margin-bottom: 1rem;

  .col-tag {
    margin-top: 23px;
  }

  .text-post {
    border-radius: 10px;
    height: 100px;
  }

  .btn-post {
    border: 2px solid #86CCB0;

  }

  .btn-postsubmit {
    border: 2px solid #86CCB0;
    width: 100px;
    justify-content: center;
  }
}

