#hero-account {

  .container {
    .row-account {
      .avatar {
        .images {
          border-radius: 50%;
        }
      }
      .nav-account {

        .btn-account {
          margin-left: 150px;

          .btn:hover {
            text-decoration: underline;
            color: #86CCB0;
          }
        }
      }
      .update {
        .btn-update{
          margin-top: 40px;
          background-color: #86CCB0;
        }
        .btn-edit {
          margin-top: 50px;
          border-radius: 10px;
        }
      }
    }
  }
}